* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  height: 100vh;
  background: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.music-player {
  background: linear-gradient(360deg, #3b1c1c, #e68d9b);
  width: 400px;
  padding: 25px 35px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* create circle for icons */
nav .circle {
  border-radius: 50%;
  width:40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #f53192;
  box-shadow: 0 5px 10px #FF1A1A38;
}

.song-img {
  width: 220px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 10px 60px #FF1A1A38;
}

.music-player h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
  margin-top: 20px;
}

.music-player p {
  font-size: 14px;
  color: #333;
  margin-bottom: 20px;
}

#progress {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  margin: 40px 0;
  background: #e68d9b;
  border-radius: 4px;
  cursor: pointer;
}

#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #e68d9b;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 8px solid #fff;
  box-shadow: 0 5px 5px #FF1A1A38;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* css for all control divs */
.controls div {
  width: 60px;
  height: 60px;
  margin: 20px;
  background: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #f373b3;
  box-shadow: 0 10px 20px #FF1A1A38;
  cursor: pointer;
}

/* css for the div 2nd-child; which is the play button */
.controls div:nth-child(2) {
  transform: scale(1.5);
  background: #e68d9b;
  color: #fff;
}

/* background for audio source */
.music-player audio::-webkit-media-controls-panel {
  background: linear-gradient(135deg, #e68d9b, #FF1A1A38);
} 




